body {
    font-family: Arial, sans-serif;
    max-width: 360px;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: whitesmoke;

}

h1{  
    text-align: center;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight:  bold;
    color: #333;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
    color: aliceblue;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: green;
}

pre{
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.7rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.3;
}